<!DOCTYPE html>
<html>

<head>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <form action="/add" method="post">

    <label for="">naam</label>
    <input type="text" name="naam" id="naam">

    <label for="">geboortedatum</label>
    <input type="text" name="geboortedatum" id="geboortedatum">

    <label for="">studierichting</label>
    <input type="text" name="studierichting" id="studierichting">

    <button type="submit">Add </button>
  </form>

</body>

</html>